body {background-color: blanchedalmond;}
html{font: 62.5%;}
ul, li {margin: 0px; padding: 0;}
a {text-decoration-line: none;}
a:visited {color: black;}

.list-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.list {
  width: 21rem;
  height: 42.5rem;
  margin: 2rem auto 0;
  text-align: center;
  background-image: url('../public/img/001.png');
  background-position: center;
  background-size: 38rem;
  background-repeat: no-repeat;
  filter: drop-shadow(5px 10px 10px rgb(0, 0, 0, 0.6));
}
.list > ul {
  list-style: none;
}
.list li > a {
  color: black;
}
.list > header {
  margin: 3rem auto 0;
  display: flex;
  justify-content: space-around;
}
.list header h2 > a {
  color: white; 
}

.list header > p {
  color: white;
}

/* Create */
.list form .inputUnderLine {
  margin: 1rem auto 1.2rem;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid gray;
  opacity: 0.7;
}

.list form .inputBtn {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.6rem;
  color: white;
  font-weight: 800;
  border: none;
  border-radius: 50%;
  background-color: skyblue;
}

/* List */
.list li .inputBtn {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.6rem;
  color: white;
  font-weight: 800;
  border: none;
  border-radius: 50%;
  background-color: skyblue;
}

.list li > a {
  margin: 1rem 5.1rem 1rem 0.5rem;
  font-size: 1.2rem;
}
.list li > hr {
  width: 70%;
  color: gray;
  opacity: 0.5;
}

