@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/* reset */
body {
	font: normal 14px 'NanumSquare', Arial, sans-serif;
	font-weight: 400; /* Regular(400), Bold(700), Extra Bold(800), Light(300) */
	line-height: 1.4;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, 
address, table, thead, tbody, tfoot, tr, td, caption {margin: 0; padding: 0;}

.gnb, .gnb a, .gnb ul, .gnb li, 
.gnb div, .gnb form, .gnb input {margin: 0;	padding: 0;	border: none; outline: none;}
.gnb a {text-decoration: none;}
.gnb li {list-style: none;}

.header-wrap {max-width: 1600px; margin: 0 auto; text-align: center; background: #fff;}
.header-wrap .header-logo > a {margin: 32px 0 0 30px; float: left; display: block; width: 87px; height: 17px; background: url('../img/header_logo.png');}

/* Menu Container */
nav{display: inline-block;}
.gnb {max-width: 1600px; position: relative; text-align: center; cursor: default; z-index: 500;}

/* Menu List */
.gnb > li {display: block; float: left;}

/* Menu Links */
.gnb > li > a {
	position: relative;
	display: block;
	margin: 0 32px;
	padding: 29px 0 30px;
	font-size: 15px;
	color: #333
}

.gnb > li:hover > a {background-color: #1ec545;}
.gnb > li:first-child > a {border-radius: 3px 0 0 3px; border-left: none;}

/* Menu Dropdown */
.gnb > li > div {
	min-width: 1100px;
	position: absolute;
	display: block;
	width: 100%;
	height: 341px;
	top: 50px;
	left: 0;
	right: 0;
	background-color: #1ec545;

	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	transition: all .3s ease .15s;
}

.gnb > li:hover > div {
	opacity: 1;
	visibility: visible;
	overflow: visible;
}

/* Menu Content Styles */
.gnb .lnb {float: left; width: 20%; padding: 2.5%;}
.gnb .lnb li a {display: block; line-height: 26px;}
.gnb .lnb li:first-child > a {font-weight: bold; font-size: 18px; line-height: 50px;}
.gnb .lnb li a:hover { color: #666666; }


/* Slide */
.slide-wrapper {max-width: 1600px; margin: 0 auto; text-align: center;}
.slide-wrapper .slide-img > a {display: block; position: relative; width: 100%; height: 430px; background: url('../img	/silder_img01.png');}
